@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@400;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdcdda;
}

/* shared css */
*{
    margin: 0;
    padding: 0;
}
.color1{
    background-color: #5490F5;
}

.color2{
    background-color: #09A15C;
}
.color3{
    background-color: #FFC239;
}
.color4{
    background-color: #a8c4f5;
}
.color5{
    background-color: #C6E4D6;
}
.color6{
    background-color: #F7EBCF;
}

header{
    display: flex;
    margin: 25px 150px;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    text-decoration-style: none;
    list-style: none;
}
nav ul li button{
    padding: 15px;
    border-radius: 10px;
    border:1px solid green;
    color: rgb(10, 72, 10);
    font-weight: 700;
}
nav ul li button:hover{
    color: white;
    background-color: darkgreen;
}

/* banner css */ 
main{

    width: 1250px;
    margin: auto;
}
.banner {
    background-color: #C6E4D6; 
    border-radius: 10px;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    box-sizing: border-box;
  }
.banner-body{
    padding: 0 20px;
    font-weight: bold;
}
.banner-subtitle{
    color: #303030;
    font-size: 20px;
    margin-top: 10px;
}
.banner_title{
    font-size: 60px;
}
.banner_btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: rgb(5, 70, 5);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}
.banner-image{
    padding: 30px 10px;
}
/* vision */
.vision_container{
    
}
.vision_description{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}
.vision_boxes{
display: flex;
justify-content: space-between;
margin: 10px 0px;
}
.vision_box{
    margin-top: 25px;
    
    border: none;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
}
.v_heading{
    padding: 5px;
    margin-bottom: 10px;

}
.v_description{
    padding: 5px;
    margin-bottom: 50px;
    height: 50px;
}
.v_button{
    margin: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;    
    color: white;
    font-weight: 600;
}

/* recent news */
.recentnewscontainer{
    margin-top: 10px;

}
.info{
    padding: 10px;
}
.recentboxcontainer{
    
}
.recentbox{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.recentnewsdescription{
    margin-top: 15px;
    font-size: 20px;
}
.earthpic_container{

    padding: 30px;
}
.earthpic{
    border-radius: 10px;
}
.maininfo{
    margin: 15px;
    
}

.aljajira{
    margin: 10px 0;
}
.recentdescription{
    margin: 10px 0;
    font-size: 18px;
}
.donation{
    text-align: center;
}
.donationtitle{
    margin-bottom: 10px;
}
.donationsubtitle{
    margin-bottom: 20px;
    padding: 5px 100px;
    font-weight: 500;
    font-size: 20px;

}
.donatebuttoncontainer{
    

    
}
.donatebutton{
    inline-size: none;
    padding: 15px 25px;
    margin: 5px 20px;
    border: none;
    border-radius: 10px;
    font-size: 35px;
}
.donatebutton:hover{
    background-color: #09A15C;
}
.banner_btn:hover{
    background-color: #09A15C;
    font-weight: 600;
    color: black;

}
.otheramount{
display: block;
text-align: center;
margin: 15px auto;
border-radius: 10px;
border: none;
height: 50px;
width: 850px;
}
.newsletter{
    text-align: center;
    border-radius: 10px;
    padding: 50px 30px;
}
.newlettertitle{
    margin-bottom: 20px;
}
.newsletterdescription{
    font-size: 20px;
    margin-bottom: 20px;
}
.textbuttoncontainer{
    
    display: flex;
    margin: 15px 0px;
}
.newslettertext{
    margin-inline: 0;
    margin-left: 150px;
    width: 700px;
    height: 40px;
    border: none;
    padding: 3px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.newsletterbutton{
    padding: 15px 10px;
    margin-inline: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
